# macOS system files
**/.DS_Store

# Temporary directories
data/temp_downloads/

# Data and output directories
data/images/
data/colmap_models/
data/aggregated/

# Large files
data/frame_mapping.json

results/

**/.dropbox_token

logs/

__pycache__/

.wandb/